/*login*/
.login .text-center{
    text-align: center;
    }
.login div.loginD-none{
    display:flex;
    background:#fff;
    height:40px;
    margin-bottom:5px;}
.login div.loginD-none div{
    width:50%;
    text-align: center;
    line-height: 40px;}
.login div.loginD-none>div>span{
    display:inline-block;
    height:40px;
    padding: 0 10px;
    font-size: 16px
}
.login  span.active{
    border-bottom:2px solid #e63038 
}
.login  .text-right{
    width:95%;
    text-align: right;
    color:#8e9a9b;
    margin: 15px 0;
    font-size:14px;
}
.login .tlogin{
    background-color:#e63038 !important;
    color:#fff !important;
    margin:0 2%;
    width:96%;
    margin-bottom:10px;
    }
.login .treg{
    background-color:#fff !important;
    margin:0 2%;
    width:96%;
}
.login .qylogin{
    width:100%;
    text-align: center;
    color:#e63038;
    margin: 25px 0;
    font-size:14px;
    text-decoration: underline;
}
.login div.mb-20{margin-bottom: 20px;}
.login .sigma-middle-line:before{
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: #999;
    position: relative;
    top: 13px;/*调节线高*/
    left: 0;
}
.login .sigma-line-text{
    display: inline-block;
    background: #efeff4;
    padding: 0 5px;
    position: relative;
    color: #6599d5;
    font-size: 14px;
    font-weight: 500;
}
.login .Other-login{
    margin-top:55px;
    width:100%;
    display:flex;
    justify-content:space-between;
}
.login .Other-login>div{
    width:33%;
    text-align: center
}
/*loginSMs*/
.login .smsinput .w-45{width:45%}
.login .smsinput .spans{
        display:inline-block;
        height:30px;
        margin-top:12px;
        padding-left:20px; 
        line-height: 30px;
        border-left:1px solid #ddd;
        color: #468CF0;
        font-size:13px 
}
/*loginym*/
.login .yminput{
    display:flex;
    background: #fff
}
.login .ymimgdiv{ 
    margin: 15px ; 
}
.login .yminput img{
    width:20px;
    height:20px;
}
.login .yminput .ym-field{
    width:80%  
}
.login .yminput .ym-field.bm{
    border-bottom:1px solid #efeff4; 
}
.login .yminput input{
    border: 0 ;
    outline: 0 ;
    margin: 0 ;
    width:90%  ;
}
.login .yminput .mint-cell:last-child{background:none;}
.login .mint-cell-wrapper{ background-image:none !important;}
/*reg*/
.login .regzpp{
    text-align: center;
    margin: 30px 0 10px;
    font-size: 14px;
    color: #8c8c8c;
}
.login .regzpp span{
    color: #e63038
}